# global codeowners
*              @ayushdg @charlesbluca @galipremsagar

# rust codeowners
.cargo/        @ayushdg @charlesbluca @galipremsagar @jdye64
src/           @ayushdg @charlesbluca @galipremsagar @jdye64
Cargo.toml     @ayushdg @charlesbluca @galipremsagar @jdye64
Cargo.lock     @ayushdg @charlesbluca @galipremsagar @jdye64
