@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  background-image: linear-gradient(
    90deg,
    theme("colors.blue.800") 0%,
    theme("colors.blue.700") 70%,
    theme("colors.blue.800") 100%
  );
}

.browser-mockup {
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  position: relative;
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: "";
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.browser-mockup > * {
  display: block;
}
