name: dask-sql
channels:
- rapidsai
- rapidsai-nightly
- conda-forge
- nvidia
- nodefaults
dependencies:
- c-compiler
- zlib
- dask>=2022.3.0,<=2023.9.3
- fastapi>=0.92.0
- fugue>=0.7.3
- httpx>=0.24.1
- intake>=0.6.0
- jsonschema
- lightgbm
- maturin>=1.1,<1.2
# FIXME: mlflow 2.6.0 has import issues related to pydantic
# https://github.com/mlflow/mlflow/issues/9331
- mlflow<2.6
- mock
- numpy>=1.21.6
- pandas>=1.4.0
- pre-commit
- prompt_toolkit>=3.0.8
- psycopg2
- pyarrow>=6.0.2
- pygments>=2.7.1
- pyhive
- pytest-cov
- pytest-rerunfailures
- pytest-xdist
- pytest
- python=3.9
- scikit-learn>=1.0.0
- sphinx
- sqlalchemy<2
- tpot>=0.12.0
- tzlocal>=2.1
- uvicorn>=0.13.4
# GPU-specific requirements
- cudatoolkit=11.5
- cudf=23.10
- cuml=23.10
- dask-cudf=23.10
- dask-cuda=23.10
- ucx-proc=*=gpu
- ucx-py=0.34
- xgboost=*=rapidsai_py*
- libxgboost=*=rapidsai_h*
- pip
- pip:
    - git+https://github.com/dask/dask
    - git+https://github.com/dask/distributed
