name: dask-sql-docs
channels:
  - conda-forge
  - nodefaults
dependencies:
  - python=3.9
  - sphinx>=4.0.0
  - sphinx-tabs
  - dask-sphinx-theme>=2.0.0
  - maven>=3.6.0
  - dask>=2021.11.1
  - pandas>=1.0.0
  - fugue>=0.5.3
  - jpype1>=1.0.2
  - fastapi>=0.61.1
  - uvicorn>=0.11.3
  - tzlocal>=2.1
  - prompt_toolkit
  - pygments
  - tabulate
  - nest-asyncio
