name: Test Rust package

on:
  # always trigger on PR
  push:
    branches:
      - main
  pull_request:
  # manual trigger
  # https://docs.github.com/en/actions/managing-workflow-runs/manually-running-a-workflow
  workflow_dispatch:

env:
  # Disable full debug symbol generation to speed up CI build and keep memory down
  # "1" means line tables only, which is useful for panic tracebacks.
  RUSTFLAGS: "-C debuginfo=1"

jobs:
  detect-ci-trigger:
    name: Check for upstream trigger phrase
    runs-on: ubuntu-latest
    if: github.repository == 'dask-contrib/dask-sql'
    outputs:
      triggered: ${{ steps.detect-trigger.outputs.trigger-found }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - uses: xarray-contrib/ci-trigger@v1.2
        id: detect-trigger
        with:
          keyword: "[test-df-upstream]"
      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          version: '3.x'
          repo-token: ${{ secrets.GITHUB_TOKEN }}

  # Check crate compiles
  linux-build-lib:
    name: cargo check
    needs: [detect-ci-trigger]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Cache Cargo
        uses: actions/cache@v3
        with:
          path: /home/runner/.cargo
          key: cargo-cache
      - name: Optionally update upstream dependencies
        if: needs.detect-ci-trigger.outputs.triggered == 'true'
        run: |
          cd dask_planner
          bash update-dependencies.sh
      - name: Check workspace in debug mode
        run: |
          cd dask_planner
          cargo check
      - name: Check workspace in release mode
        run: |
          cd dask_planner
          cargo check --release

  # test the crate
  linux-test:
    name: cargo test
    needs: [detect-ci-trigger]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Cache Cargo
        uses: actions/cache@v3
        with:
          path: /home/runner/.cargo
          key: cargo-cache
      - name: Optionally update upstream dependencies
        if: needs.detect-ci-trigger.outputs.triggered == 'true'
        run: |
          cd dask_planner
          bash update-dependencies.sh
      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          version: '3.x'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run tests
        run: |
          cd dask_planner
          cargo test
