---
# Test the main branch and every pull request by
# 1. building the jar on ubuntu
# 2. testing code (using the build jar) on ubuntu and windows, with different java versions
name: Test Python package
on:
  push:
    branches:
      - main
  pull_request:

# When this workflow is queued, automatically cancel any previous running
# or pending jobs from the same branch
concurrency:
  group: test-${{ github.head_ref }}
  cancel-in-progress: true

# Required shell entrypoint to have properly activated conda environments
defaults:
  run:
    shell: bash -l {0}

jobs:
  detect-ci-trigger:
    name: Check for upstream trigger phrase
    runs-on: ubuntu-latest
    if: github.repository == 'dask-contrib/dask-sql'
    outputs:
      triggered: ${{ steps.detect-trigger.outputs.trigger-found }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - uses: xarray-contrib/ci-trigger@v1.1
        id: detect-trigger
        with:
          keyword: "[test-upstream]"

  build:
    # This build step should be similar to the deploy build, to make sure we actually test
    # the future deployable
    name: Build the jar on ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-v1-jdk11-${{ hashFiles('**/pom.xml') }}
      - name: Set up Python
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-variant: Mambaforge
          use-mamba: true
          python-version: "3.8"
          channel-priority: strict
          activate-environment: dask-sql
          environment-file: continuous_integration/environment-3.8-jdk11-dev.yaml
      - name: Build the jar
        run: |
          python setup.py build_ext
      - name: Upload the jar
        uses: actions/upload-artifact@v1
        with:
          name: jar
          path: dask_sql/jar/DaskSQL.jar

  test:
    name: "Test (${{ matrix.os }}, java: ${{ matrix.java }}, python: ${{ matrix.python }})"
    needs: [detect-ci-trigger, build]
    runs-on: ${{ matrix.os }}
    env:
      CONDA_FILE: continuous_integration/environment-${{ matrix.python }}-jdk${{ matrix.java }}-dev.yaml
    strategy:
      fail-fast: false
      matrix:
        java: [8, 11]
        os: [ubuntu-latest, windows-latest]
        python: ["3.8", "3.9", "3.10"]
    steps:
      - uses: actions/checkout@v2
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-v1-jdk${{ matrix.java }}-${{ hashFiles('**/pom.xml') }}
      - name: Set up Python
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-variant: Mambaforge
          use-mamba: true
          python-version: ${{ matrix.python }}
          channel-priority: strict
          activate-environment: dask-sql
          environment-file: ${{ env.CONDA_FILE }}
      - name: Download the pre-build jar
        uses: actions/download-artifact@v1
        with:
          name: jar
          path: dask_sql/jar/
      - name: Install hive testing dependencies for Linux
        if: matrix.os == 'ubuntu-latest'
        run: |
          mamba install -c conda-forge sasl>=0.3.1
          docker pull bde2020/hive:2.3.2-postgresql-metastore
          docker pull bde2020/hive-metastore-postgresql:2.3.0
      - name: Set proper JAVA_HOME for Windows
        if: matrix.os == 'windows-latest'
        run: |
          echo "JAVA_HOME=${{ env.CONDA }}\envs\dask-sql\Library" >> $GITHUB_ENV
      - name: Optionally install upstream dev Dask / dask-ml
        if: needs.detect-ci-trigger.outputs.triggered == 'true'
        run: |
          python -m pip install --no-deps git+https://github.com/dask/dask
          python -m pip install --no-deps git+https://github.com/dask/distributed
          python -m pip install --no-deps git+https://github.com/dask/dask-ml
      - name: Test with pytest
        run: |
          pytest --junitxml=junit/test-results.xml --cov-report=xml -n auto tests --dist loadfile
      - name: Upload pytest test results
        if: always()
        uses: actions/upload-artifact@v1
        with:
          name: pytest-results
          path: junit/test-results.xml
      - name: Upload coverage to Codecov
        if: github.repository == 'dask-contrib/dask-sql'
        uses: codecov/codecov-action@v2
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}

  cluster:
    name: "Test in a dask cluster"
    needs: [detect-ci-trigger, build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-v1-jdk11-${{ hashFiles('**/pom.xml') }}
      - name: Set up Python
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-variant: Mambaforge
          use-mamba: true
          python-version: "3.8"
          channel-priority: strict
          activate-environment: dask-sql
          environment-file: continuous_integration/environment-3.8-jdk11-dev.yaml
      - name: Download the pre-build jar
        uses: actions/download-artifact@v1
        with:
          name: jar
          path: dask_sql/jar/
      - name: Install dependencies
        run: |
          mamba install python-blosc lz4 -c conda-forge

          which python
          pip list
          mamba list
      - name: Optionally install upstream dev Dask / dask-ml
        if: needs.detect-ci-trigger.outputs.triggered == 'true'
        run: |
          python -m pip install --no-deps git+https://github.com/dask/dask
          python -m pip install --no-deps git+https://github.com/dask/distributed
          python -m pip install --no-deps git+https://github.com/dask/dask-ml
      - name: run a dask cluster
        run: |
          docker-compose -f .github/docker-compose.yaml up -d

          # Wait for installation
          sleep 40

          docker logs dask-scheduler
          docker logs dask-worker
      - name: Test with pytest while running an independent dask cluster
        run: |
          pytest tests
        env:
          DASK_SQL_TEST_SCHEDULER: tcp://127.0.0.1:8786

  import:
    name: "Test importing with bare requirements"
    needs: [detect-ci-trigger, build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-v1-jdk11-${{ hashFiles('**/pom.xml') }}
      - name: Set up Python
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: "3.8"
          mamba-version: "*"
          channels: conda-forge,defaults
          channel-priority: strict
      - name: Download the pre-build jar
        uses: actions/download-artifact@v1
        with:
          name: jar
          path: dask_sql/jar/
      - name: Install dependencies and nothing else
        run: |
          pip install -e .

          which python
          pip list
          mamba list
      - name: Optionally install upstream dev Dask / dask-ml
        if: needs.detect-ci-trigger.outputs.triggered == 'true'
        run: |
          python -m pip install --no-deps git+https://github.com/dask/dask
          python -m pip install --no-deps git+https://github.com/dask/distributed
          python -m pip install --no-deps git+https://github.com/dask/dask-ml
      - name: Try to import dask-sql
        run: |
          python -c "import dask_sql; print('ok')"
